[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

# play a fart sound when title explodes
[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "replace_card.states.visible = false"
position = "after"
payload = '''
if change_context == 'splash' then
    play_sound(BalatrMod.prefix('ultra_fart'))
    G.ROOM.jiggle = 9999999999
end
if not BalatrMod.music_time then
    BalatrMod.music_time = 0
    love.window.setTitle('Balatr')
end
BalatrMod.pitch_nudge = 1
'''
match_indent = true

[[patches]]
[patches.pattern]
target = "card.lua"
position = "at"
match_indent = true
pattern = "G.GAME.inflation = G.GAME.inflation + 1"
payload = "G.GAME.inflation = G.GAME.inflation + ((type(G.GAME.modifiers.inflation) == 'number') and G.GAME.modifiers.inflation or 1)"

[[patches]]
[patches.pattern]
target = "challenges.lua"
position = "at"
match_indent = true
pattern = "{id = 'inflation'},"
payload = "{id = 'inflation', value = 1},"

# make consumables unable to be used immediately
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
position = "at"
match_indent = true
pattern = '''
if card.ability.consumeable then --and card:can_use_consumeable(true, true)
  card.children.buy_and_use_button = UIBox{
'''
payload = '''
if card.ability.consumeable and not card.ability[BalatrMod.prefix('unusable')] then --and card:can_use_consumeable(true, true)
  card.children.buy_and_use_button = UIBox{
'''
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
position = "at"
match_indent = true
pattern = '''
if card.ability.consumeable then
  if (card.area == G.pack_cards and G.pack_cards) then
    return {
'''
payload = '''
if card.ability.consumeable then
    if (card.area == G.pack_cards and G.pack_cards) then
        if card.ability[BalatrMod.prefix('unusable')] then
            return {
            n=G.UIT.ROOT, config = {padding = 0, colour = G.C.CLEAR}, nodes={
              {n=G.UIT.R, config={mid = true}, nodes={
              }},
              {n=G.UIT.R, config={ref_table = card, r = 0.08, padding = 0.1, align = "bm", minw = 0.5*card.T.w - 0.15, minh = 0.8*card.T.h, maxw = 0.7*card.T.w - 0.15, hover = true, shadow = true, colour = G.C.GOLD, one_press = true, button = BalatrMod.prefix('woosh_consumable')}, nodes={
                {n=G.UIT.T, config={text = localize('b_select'),colour = G.C.UI.TEXT_LIGHT, scale = 0.55, shadow = true}}
              }},
          }}
      else return {
'''


[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
position = "at"
match_indent = true
pattern = '''
end
use =
'''
payload = '''
end end
use =
'''

[[patches]]
[patches.pattern]
target = "blind.lua"
position = "before"
match_indent = true
pattern = '''
function Blind:draw()
'''
payload = '''
function Blind:update(dt)
  if not self.disabled and not G.SETTINGS.paused then
    local obj = self.config.blind
    if obj.update and type(obj.update) == 'function' then
      obj:update(self, dt)
    end
  end
end
'''

# i have to do this JUST so i can get the current music time. fuck

[[patches]]
[patches.pattern]
target = "engine/sound_manager.lua"
position = "after"
match_indent = true
pattern = '''
SMODS_Sounds = {}
'''
payload = '''
AWESOME_CHANNEL = love.thread.getChannel("i_hate_love2d")
--AWESOME_CHANNEL:push('hai :3')
'''

[[patches]]
[patches.regex]
target = "engine/sound_manager.lua"
position = "after"
line_prepend = '$indent    '
pattern = '''
(?<indent>[\t ]*)RESTART_MUSIC\(.*\)
'''
payload = '''
UPDATE_SONG_TIME()
'''

[[patches]]
[patches.pattern]
target = "engine/sound_manager.lua"
position = "before"
match_indent = true
pattern = '''
LOAD_CHANNEL:push('finished')
'''
payload = '''
function UPDATE_SONG_TIME()
  AWESOME_CHANNEL:push((SOURCES["music1"] and SOURCES["music1"][1] and SOURCES["music1"][1].sound)
  and (SOURCES["music1"][1].sound:tell("seconds") / SOURCES["music1"][1].sound:getPitch()) or 0)
end
'''

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
position = "after"
match_indent = true
pattern = '''
G.PITCH_MOD = (G.PITCH_MOD or 1)*(1 - dt) + dt*((not G.normal_music_speed and G.STATE == G.STATES.GAME_OVER) and 0.5 or 1)
'''
payload = '''
* BalatrMod.pitch_nudge
'''

# concrete slab gimmick

[[patches]]
[patches.pattern]
target = "engine/moveable.lua"
position = "after"
match_indent = true
pattern = '''
major = nil,
'''
payload = '''
move_lerp = 35,
move_speed = 1,
max_vel = nil, -- if nil, use G.exp_times.max_vel
'''

# regex doesnt like me
[[patches]]
[patches.pattern]
target = "engine/moveable.lua"
position = "after"
match_indent = true
pattern = '''
function Moveable:move_xy(dt)
'''
payload = '''
    local vel = G.exp_times.max_vel
    G.exp_times.max_vel = self.role.max_vel or vel
'''

# regex doesnt like me (2)
[[patches]]
[patches.pattern]
target = "engine/moveable.lua"
position = "before"
match_indent = true
pattern = '''
end

function Moveable:move_scale(dt)
'''
payload = '''
    G.exp_times.max_vel = vel
'''

[[patches]]
[patches.regex]
target = "engine/moveable.lua"
position = "at"
line_prepend = ''
pattern = '''
[*]35[*]dt
'''
payload = '''
*(self.role.move_lerp or 35)*(dt*(self.role.move_speed or 1))
'''

[[patches]]
[patches.pattern]
target = "functions/misc_functions.lua"
position = "after"
match_indent = true
pattern = '''
G.ARGS.ambient_sounds = G.ARGS.ambient_sounds or {
'''
payload = '''
[BalatrMod.prefix('ambientConcrete')] = {
    volfunc = function(_prev_volume)
      local target = (BalatrMod.moving_concrete and 1 or 0) * (G.SETTINGS.SOUND.game_sounds_volume / 100)
      return _prev_volume + (dt * 20) * (target - _prev_volume)
    end
},
'''

# GC BULLSHIT BECAUSE START_DISSOLVE IS NOT AN EVENT
# SO THEY ALL TRIGGER AT THE SAME TIME MAKING IT FUCKING UGLY

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''
local removed = false
'''
payload = '''
local balatr_do_manual_anim = false
'''

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''
if key == 'remove' or (type(eval2) == 'table' and eval2.remove) then removed = true end
'''
payload = '''
if key == BalatrMod.prefix('remove_anim') or (type(eval2) == 'table' and eval2[BalatrMod.prefix('remove_anim')]) then balatr_do_manual_anim = true end
'''

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''
destroyed_cards[#destroyed_cards + 1] = G.hand.highlighted[i]
'''
payload = '''
if balatr_do_manual_anim then
'''

[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
position = "after"
match_indent = true
pattern = '''
G.hand.highlighted[i]:start_dissolve()
'''
payload = '''
end
'''